body {
  margin: 0;
  padding: 0;
}

input[type='range'] {
  width: 370px;
  vertical-align: middle;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.controls {
  z-index: 1;
  position: fixed;
  pointer-events: none;
}

.controls input,
.controls button,
.controls label {
  pointer-events: all;
}

.crop-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
